Week_*_Pencil_and_Paper_Problem.*
Module_*_Week_*_gretl_Problem_Set_*.*
*.jpg
*.png
*.ipynb
fake_homework_submission.pdf
!CLT.png
!CLT2.png
HeaderTemplate.md
Gelman and Loken (2014).pdf
Ziliak and McCloskey (2004).pdf
Week 3 Discussion Board.md
Health Behavior in School Aged Children 2002.csv
DC Crime(1).*
*.inp
Week 3 Learning Journal.md
forum_posts.md
!Screenshot_*.png
Midterm/*
State Demographic and Policy Data.gdt
!Screenshot from *.png
!gnuplot.png
!gnuplot_plus_estimated.png
*.log
!Week 6/objects/gretl_1.png
!Week 7/objects/7*
!Week 7/objects/gretl_[0-9].png
.Rhistory
!Week 8/objects/gretl_*.png
!Week 8/objects/lecture_*.png