Week_*_Pencil_and_Paper_Problem.*
Module_*_Week_*_gretl_Problem_Set_*.*
*.jpg
*.png
*.ipynb
fake_homework_submission.pdf
!CLT.png
!CLT2.png
HeaderTemplate.md
Gelman and Loken (2014).pdf
Ziliak and McCloskey (2004).pdf
Week 3 Discussion Board.md
Health Behavior in School Aged Children 2002.csv
